<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <p>Hello,</p>
    <br>
    <p>We are reaching out to notify you that your event titled {{summary}} was recently reported and removed for
        violating our Terms of Service.</p>
    <p>Please reply to this email if you would like to follow-up on our decision.</p>
    <br>
    <p>Best,</p>
    <p style="font-family: IBM Plex Sans sans-serif; font-size: 24px; font-style: italic; font-weight: 600; color: #5A2BE9;">
        <a href="zoomtv.live" style="text-decoration: none;"></a>zoomTV
    </p>

</body>

</html>