<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    The following Zoom event has been flagged by a user:
    <br>
    <div className="event-card"
        style="width: 300px; border-radius: 8px; padding: 16px 24px 16px 24px; background-color: #F7F6F3; font-size: 14px;">
        <div className="card-header" style="font-size: 18px; font-weight: 600;">{{summary}}</div>

        <div className="spacer" style="height: 8px"> </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> EVENT ID </div>
        <div> {{id}} </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> INVITE FROM </div>
        <div> {{creator}} </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> DESCRIPTION</div>
        <div> {{description}} </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> ZOOM LINK </div>
        <div> {{zoom}} </div>

        <div className="spacer" style="height: 8px"> </div>

        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> START TIME </div>
        <div> {{start}} </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> END TIME </div>
        <div> {{end}} </div>

        <div className="spacer" style="height: 8px"> </div>
        <div className="card-subheader" style="color: #AAA9A5; font-weight: 500"> TAGS </div>
        <div> {{tags}} </div>

        <div className="spacer" style="height: 8px"> </div>
        <form action="https://zoom-tv-guide.wl.r.appspot.com/delete_zoom" method="post">
            <input type="hidden" id="event_id" name="event_id" value={{id}}>
            <button type="submit"
                style="font-weight: 500; color: white; background-color: #FF6347; border-radius: 8px; padding: 16px 8px 16px 8px;">
                REMOVE EVENT
            </button>
        </form>
    </div>
    <br>
    <p>Best,</p>
    <p style="font-family: IBM Plex Sans sans-serif; font-size: 24px; font-style: italic; font-weight: 600; color: #5A2BE9;">
            <a href="zoomtv.live" style="text-decoration: none;"></a>zoomTV
    </p>
</body>

</html>